html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* html { font-size: 100%; }

html { font-size: 12px; line-height: 1.625em; }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background: white; font-family: "arial"; font-weight: 400; color: #6d6c6c; position: relative; -webkit-font-smoothing: antialiased; }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }
ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html, body { height: 100%; }
input[type=checkbox]{
	display: inline-block; margin-top: 5px; 
}
.ie9 { font-family: "arial"; }
.ie9 * { font-family: "arial"; }
textarea{
	resize: none;
}
.hide { display: none; }

.headcolor { color: black; }

.show { display: block; }

.fixed { position: fixed; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.div-left{float: left;}

.div-right{	float: right }

.grey-border{	border: 1px solid #d0d0d0;}
.user-heading{
	line-height: 30px; color: #28b4d7; font-size: 14px; border-bottom: 0px; display: inline-block; padding-left: 10px; padding-right: 10px;
}

h1, h2, h3, h4, h5, h6 { font-family: "arial"; font-weight: normal;  text-rendering: optimizeLegibility; }
h1{
	color: #3d3d3d; font-size: 24px; font-weight: normal;
}
h2{
	color: #fff; font-size: 18px; line-height: 30px; display: block; padding-left: 10px;
}
h3{
	color: #30b6d8; font-size: 18px; line-height: 20px; display: block; 
}
.sub-nav .icons.disabled
{
    background-color:rgba(0, 0, 0, .5); cursor:default;
    }

/* section background color*/
.ui-state-highlight{background:#d0d0d0;}
.deep-grey{
	background-color:#181818;
}
.middle-grey{
	background-color:#515050;
}
.light-grey{
	background-color:#f0efef;
}
.blue{
	background-color: #f5c405;
}
.green{
	background-color:#5bb75b;
}
.orrange{
	background-color:#e4911d;
}
.white{
	background-color:#fff;
}

/***** button set***/
.button-set{
	margin-left: 145px;
}
.orange-btn{
	border:1px solid #d78a1e; background: #fddb55; height: 28px; 
	border-bottom: 1px solid #a0630d; line-height: 25px; padding-left: 15px; padding-right: 15px;
	font-size: 16px; font-weight:bold; color: black; cursor: pointer; display: inline-block;
}
    .orange-btn:disabled {
        opacity:.6; filter:alpha(opacity=60);
    }

.blue-btn{
	border:1px solid #419db8; background: #49afcd; height: 28px; 
	border-bottom: 1px solid #368399; line-height: 25px; padding-left: 15px; padding-right: 15px;
	font-size: 14px; color: #fff; cursor: pointer; display: inline-block;

}

.PI-btn{
	padding-left: 10px; padding-right: 10px; padding-top: 7px; text-align: right;
}
.PI-btn-sub{
	text-align: right;
}
.PI-btn td{
	padding-left: 3px;
}




.middle-div{
	padding-left:20px; padding-right:20px; 
}
.wide-div{
	width: 100%; float: left;
}

.dotted-bottom-border{
	background: url(../images/dot.png) repeat-x left bottom;
}
.main-app, .inv-login{
	position: fixed; width: 100%; height: 100%;
}

/*login page***/
.inv-login .outer{
	width: 500px; height: 264px; background: #0d0d0d; position: absolute; border-bottom: 1px solid #b8b8b8; border-right: 1px solid #b8b8b8; left: 50%; top: 50%; margin-left: -250px; margin-top: -132px; padding: 20px;
}
.inv-login .outer h1{
	font-size: 36px; color: #424242; display: block; text-align: center; line-height: 40px; margin-bottom: 20px;
}
.inv-login .outer .form-container{
	background: #f5c405; padding: 15px; 
	}
.inv-login .outer .form-container .field_holder{
	margin-bottom: 20px; margin-top: 20px;
}
.inv-login .outer .form-container table{
	width: 100%; border-collapse: collapse;
}
.inv-login .outer .form-container table td{
	padding: 0px; border: 0px;
}
.inv-login .outer .form-container .uname-icon{
	background-color: #49cced; width: 49px; height: 36px;
	background-position: -223px -86px;  display: block;
}
.inv-login .outer .form-container .pwd-icon{
	background-color: #49cced; width: 49px; height: 36px;
	background-position: -258px -86px;  display: block;
}
.inv-login .outer .form-container input[type="text"], .inv-login .outer .form-container input[type="password"]{
	width: 100%; border: none; padding: 2%; outline: none; height: 36px;
}
.inv-login .outer .form-container input[type="submit"]{
	width: 49px; height: 36px; display: block; background-color: #5cb75b; border: 0px; padding: 0px; margin: 0px; cursor: pointer;  background-position: -294px -86px; text-indent: -9999999px; overflow: hidden;
	outline: none;
	
}
/****** top bar start*********/
.icons{
	display:inline-block;
	background-image: url(images/icons.png); background-repeat: no-repeat;
}

.top-bar{
	height:30px; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 999999
	
}
.welcome-user{
	float: left; color: #fff; line-height: 30px; display: block; font-weight: bold;
}
.log-out{
	float: right; background: #49cced; height: 30px; padding-left: 10px; padding-right: 10px; cursor: pointer; margin-left: 2px;
}
.log-out:hover{
	background: #2bb3d5; 
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.icons.logout{
	width: 18px; height: 30px; background-position: -436px -38px;
}
.set-up{
	float: right; background: #5bb75b; height: 30px; padding-left: 10px; padding-right: 10px; cursor: pointer; margin-left: 2px; position: relative; overflow: hidden;
}
.set-up .sub-menu{
	position: absolute; width: 160px;
	background: #3b9b3b; top:30px; right: 0px; list-style-type: none; 
	opacity: 0; filter: alpha(opacity=0);
	-webkit-box-shadow: 4px 2px 7px rgba(50, 50, 50, 0.6);
-moz-box-shadow:    4px 2px 7px rgba(50, 50, 50, 0.6);
box-shadow:         4px 2px 7px rgba(50, 50, 50, 0.6);
border-top:0px;
height: 0px; overflow: hidden;
top:25px; 
}
.set-up:hover .sub-menu{
	
	opacity: 1; filter: alpha(opacity=100);
	 -moz-transition: all .3s ease-in;
    /* WebKit */
    -webkit-transition: all .3s ease-in;
    /* Opera */
    -o-transition: all .3s ease-in;
    /* Standard */
    transition: all .3s ease-in;
	z-index: 99999999;
	top:30px;
	height: auto; overflow: visible;
}
.set-up .sub-menu li{
	display: block; padding: 3px 5px; border-top:1px solid #181818;
}
.set-up .sub-menu li:first-child{
	border: none;
}
.set-up .sub-menu li a{
	color: #fff; font-size: 16px; text-decoration: none; display: block; 
	
}
.set-up .sub-menu li a:hover{
	color: #000; font-size: 16px; text-decoration: none; display: block;
	
	
}
.set-up:hover{
	background: #3b9b3b; 
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	overflow: visible;
}
.icons.setup{
	width: 18px; height: 30px; background-position: -406px -38px;
}

.top-bar nav{
	display: block; margin-right: 40px; float:left;
}
.top-bar nav ul{
	list-style-type: none; display: block;
}
.top-bar nav ul li{
	display:block; float:left; border-left: 1px solid #949494; position: relative; overflow: hidden;
}
.top-bar nav ul li:first-child{
	border:none;
}
.top-bar nav ul li:hover{
	overflow: visible;
}
.top-bar nav ul li a{
	font-size: 10px; font-weight: bold; color: #fff; padding-left: 15px; padding-right: 15px; line-height: 30px; text-decoration: none; display: block;
}

.top-bar nav ul li:hover, .top-bar nav ul li.active{
	background: #28aacb;
	 /* Firefox */
    -moz-transition: all .3s ease-in;
    /* WebKit */
    -webkit-transition: all .3s ease-in;
    /* Opera */
    -o-transition: all .3s ease-in;
    /* Standard */
    transition: all .3s ease-in;
}
.top-bar nav ul li ul{
	 list-style-type: none; position: absolute; right: -1px; top:25px; width: 175px; background: #28aacb;
	opacity: 0; filter: alpha(opacity=0); z-index: -111;
	-webkit-box-shadow: 4px 2px 7px rgba(50, 50, 50, 0.6);
-moz-box-shadow:    4px 2px 7px rgba(50, 50, 50, 0.6);
box-shadow:         4px 2px 7px rgba(50, 50, 50, 0.6);
border: 1px solid #fff; border-top:0px;
}
.top-bar nav ul li:hover ul{	
	opacity: 1; filter: alpha(opacity=100);
	 -moz-transition: all .3s ease-in;
    /* WebKit */
    -webkit-transition: all .3s ease-in;
    /* Opera */
    -o-transition: all .3s ease-in;
    /* Standard */
    transition: all .3s ease-in;
	z-index: 99999999;
	top:30px;
}
.top-bar nav ul li ul li{
	display: block; float: none; border: none; border-top:1px solid #181818;
}
.top-bar nav ul li ul li:first-child{
	border: none;
}
.top-bar nav ul li ul li a:hover{
	color: #181818
}

@media only screen and (max-width: 800px) {
	.top-bar nav ul li a{
	font-size: 13px; font-weight: bold; color: #fff; padding-left: 5px; padding-right: 5px; line-height: 30px; text-decoration: none; display: block;
}
	}
/****** top bar end*********/


/****** sub nav start*********/

.sub-nav{
	width: 100%; height: 60px; border-bottom: 1px solid #515050; position: fixed; left: 0px; top: 30px; z-index: 9999
}
.logo{
	height: 50px; margin-top: 5px; width: auto; display: block;
}
.sub-nav .right-nav{
	margin-top: 17px;
}
.sub-nav .icons{
	background-color: #515050; width: 31px; height: 25px; margin-left: 3px; cursor: pointer; position: relative;
}
.sub-nav .icons .tooltip-btn{
	width: 100%; height: 100%; position: absolute;
}
.sub-nav .icons .tooltip{
	background-color: rgba(81,80,80,.9);    right: 50px; color: #fff; font-size: 12px; line-height: 17px; padding-left: 5px; padding-right: 5px; display: inline-block; padding-top:4px; padding-bottom:4px;  position: absolute; min-width: 150px; 
	opacity: 0; filter: alpha(opacity=0); z-index: -1;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
}
.sub-nav .icons .tooltip-active{
	background-color: rgba(81,80,80,.9);   color: #fff; font-size: 12px; line-height: 17px; padding-left: 5px; padding-right: 5px; display: inline-block; padding-top:4px; padding-bottom:4px;  position: absolute; min-width: 150px; 
	opacity: 1; filter: alpha(opacity=100);
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	z-index: 99;
	right: 30px;
	display: block;
}

/** sub-nav general***/
.sub-nav .icons.add-cat-gen{
	background-position: -11px 0px
}
.sub-nav .icons.update-cat-gen{
	background-position: -48px 0px
}
.sub-nav .icons.delete-cat-gen{
	background-position: -85px 0px
}
.sub-nav .icons.print-cat-gen{
	background-position: -120px 0px
}
/** sub-nav cig***/
.sub-nav .icons.msdslink-cat-cig{
	background-position: -156px 0px
}
.sub-nav .icons.physical-cat-cig{
	background-position: -195px -88px
}
.sub-nav .icons.chemical-cat-cig{
	background-position: -192px -1px
}
.sub-nav .icons.nfpa-cat-cig{
	background-position: -227px 0px
}
.sub-nav .icons.hmis-cat-cig{
	background-position: -261px 0px
}
.sub-nav .icons.ppe-cat-cig{
	background-position: -299px 0px
}
.sub-nav .icons.health-cat-cig{
	background-position: -334px 0px
}
.sub-nav .icons.risk-cat-cig{
	background-position: -370px 0px
}


/** sub-nav rig***/
.sub-nav .icons.rig{
	width: auto; padding-left: 7px; padding-right: 7px; font-size: 10px; color: #fff; line-height: 25px;
	background-image: none;
}

/** sub-nav item***/
.sub-nav .icons.add-item{
	background-position: -1188px 0px
}
.sub-nav .icons.edit-item{
	background-position: -1223px 0px
}
.sub-nav .icons.transfer-item{
	background-position: -1259px 0px
}
.sub-nav .icons.dispose-item{
	background-position: -1295px 0px
}
.sub-nav .icons.tag-item{
	background-position: -1330px 0px
}
.sub-nav .icons.print-item{
	background-position: -1365px 0px
}
.sub-nav .icons.cal-item{
	background-position: -1400px -1px
}
.sub-nav .icons.restore-item{
	background-position: -730px -1px
}

/** sub-nav user***/
.sub-nav .icons.add-user{
	background-position: -516px 0px
}
.sub-nav .icons.edit-user{
	background-position: -551px 0px
}
.sub-nav .icons.delete-user{
	background-position: -587px 0px
}
.sub-nav .icons.add-group{
	background-position: -622px 0px
}
.sub-nav .icons.edit-group{
	background-position: -658px 0px
}
.sub-nav .icons.delete-group{
	background-position: -694px 0px
}

/** sub-nav role***/
.sub-nav .icons.add-role{
	background-position: -408px 0px;
}
.sub-nav .icons.edit-role{
	background-position: -443px 0px;
}
.sub-nav .icons.delete-role{
	background-position: -479px 0px;
}

/** sub-nav role***/
.sub-nav .icons.add-vendor{
	background-position: -1080px -1px;
}
.sub-nav .icons.edit-vendor{
	background-position: -1115px -1px;
}
.sub-nav .icons.print-vendor{
	background-position: -1152px -1px;
}



/** Physical inventory role***/
.sub-nav .icons.add-inventory{
	background-position: -766px 0px;
}
.sub-nav .icons.add-old-inventory{
	background-position: -802px 0px;
}
.sub-nav .icons.view-criteria-inventory{
	background-position: -835px 0px;
}
.sub-nav .icons.all-inventory{
	background-position: -870px 0px;
}
.sub-nav .icons.found-inventory{
	background-position: -905px 0px;
}
.sub-nav .icons.notscanned-inventory{
	background-position: -940px 0px;
}
.sub-nav .icons.relocated-inventory{
	background-position: -975px 0px;
}
.sub-nav .icons.dispose-inventory{
	background-position: -802px 0px;
}
.sub-nav .icons.added-inventory{
	background-position: -835px 0px;
}

/****** sub nav end*********/



/****** footer start*********/
.footer{
	width: 100%; height: 29px; border-top: 1px solid #bcbcbc; position: fixed; left: 0px; bottom:0px; padding-top: 1px;
	z-index: 999999
}
.footer .inner{
	background: #f0efef; height: 29px; color: #3a3a3a; text-align: right; font-size: 11px; padding-left: 20px; padding-right: 20px;
}


/****** footer end*********/

/****** content start*********/
.Gridtable{ width:100%; border:0px; border-bottom:1px solid #999; background:#E8E8E8; }
.Gridtable td{ padding:3px;}
.catalog-searchResult-main .search_result_content{
	   border-right: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0;
}
.search_result_heading{
	 line-height: 20px; margin-top: 6px; font-size: 16px; color: #fff
}
.search_result_heading i{
	display: inline-block; width: 30px; height: 25px; background-position: -456px -44px;  vertical-align: text-top;
}
.flexible-main-div{
	position: fixed; width: 100%; top: 60px;  height: auto;
}
.flexible-main-div .inner{
	padding-left: 20px; padding-right: 20px; overflow-y: auto; 
}
.table-div{
	
}
.table-div table{
	width: 100%;
}
.form-fields{
	
}
.form-fields table{
	width: 100%;
}
.form-fields table .label-td{
	width: 145px;
}
.table-div table input[type=text], .table-div table input[type=password], .table-div table textarea, .table-div table select{
	background: #fdfafa; border: 1px solid #d0cfcf;  width: 100%; padding: 1%; outline: none; 
	height: 25px; padding-top: 3px; padding-bottom: 3px;
}
.table-div table select{
	min-height: 25px;
}
.table-div table textarea{
	height: 200px;
}
.table-div table input[type=text]:focus, .table-div table input[type=password]{
	border-color: #49cced; 
	-webkit-box-shadow: 4px 2px 7px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    4px 2px 7px rgba(50, 50, 50, 0.4);
box-shadow:         4px 2px 7px rgba(50, 50, 50, 0.4);
-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.table-div table label{
	color: #6d6c6c; font-size: 14px; line-height: 25px;
}
.table-div table.field-holder td{
	padding: 5px;  
	
}
.table-div table.field-holder tr:first-child td{
	padding-top: 5px;
}
.table-div table.field-holder td.two-row label{
	display: block;  padding-left: 10px; padding-right: 10px; text-align: center;  text-align: left;
}
.table-div table.field-holder td.two-row .label-td{
	width: 140px;
}
.table-div table.field-holder td.two-row input{
	padding-left: 2%; padding-right: 2%;
	
}
.table-div table.field-holder td.two-row input.last{
	width: 100%
}
.table-div table.field-holder .width-td {
	width: 47%;
}
.table-div table.field-holder .middle-td{
	
}
.table-div table.field-holder .form-fields table td{
	padding: 0px; vertical-align: top;
}
.table-div table.field-holder td.two-row .width-td{
	width: 32%;
}
.table-div table.field-holder td.two-row .checkbox-td{
	padding-left: 10px; vertical-align: middle;
}
@media only screen and (max-width: 979px) {
	.table-div table.field-holder .width-td{
		width: 100%
	}
	.break-tr, .middle-td{
		display: block;
	}
	.table-div table.field-holder .middle-td{
		padding: 0px;
	}
	.table-div table.field-holder tr:first-child td.middle-td{
		padding: 0px;
	}
	.table-div table.field-holder td.two-row .width-td {
		width: 38%
	}
	}
.table-div table.field-holder .icon-input{
	position: relative;
}

.partial-table tr td{
	padding:2px;
}
.form-fields table .partial-label-td{
	width: 120px;
}

.partial-table tr td label{
	width:100px;
}

.partial-table tr td input[type="text"]{
	background: rgb(199, 199, 199);
}
.whitetext{
	background: white!important;
    border-color:rgb(78, 80, 249)!important;
}


.table-div table.field-holder .icon-input .icon-location{
	height: 25px; border: 1px solid #d0cfcf; width:35px; padding-top: 3px; padding-bottom: 3px; display: block; position: absolute; right:0px; 
	background-position: -31px -89px; cursor: pointer; top:0px;
}

.table-div table.field-holder .icon-input .icon-locate{
	height: 25px; border: 1px solid #d0cfcf; width:35px; padding-top: 3px; padding-bottom: 3px; display: block; position: absolute; right:0px; 
	background-position: -2px -88px; cursor: pointer; top:0px;
}
.table-div table.field-holder .icon-input .icon-location.hide, .table-div table.field-holder .icon-input .icon-locate.hide{display:none}
.table-div table.field-holder .icon-input .text-btn{
	height: 25px; border: 1px solid #49afcd; padding-left:3px; padding-right:3px; padding-top: 3px; padding-bottom: 3px; display: inline-block; position: absolute; right:0px;  background: #49afcd; cursor: pointer; color: #fff; font-size: 14px; top:0px; line-height: 19px;
}
.assign-properties .text-btn{
	height: 25px; border: 1px solid #49afcd; padding-left:3px; padding-right:3px; padding-top: 3px; padding-bottom: 3px; display: inline-block;   background: #49afcd; cursor: pointer; color: #fff; font-size: 14px;  border-bottom: 1px solid #368399;
}
 .table-div table.field-holder .icon-input .text-btn-n{
	height: 25px; border: 1px solid #d0cfcf; padding-left:3px; padding-right:3px; padding-top: 3px; padding-bottom: 3px; display: inline-block;   background: #fff; cursor: pointer; color: #323232; font-size: 14px;   position: absolute; right:0px; font-size: 14px; top:0px;
}
.item-search-option{
	padding-left: 10px; line-height: 30px; color: #080808; font-size: 14px;
}
.item-search-option label{
	display: inline-block; width: 70px;
}
.item-search-option input[type="radio"]{
	margin-left: 30px;
}
/****** content end*********/





/********** pop up window start****/
.popup-main-container{
	width: 100%; height: 100%; position: fixed; background: #fff; z-index: 999;
}
.flexiable-popup-div{
	position: fixed; width: 100%; top: 100px;
}
.flexiable-popup-div2{
	position: fixed; width: 100%; top: 146px;
}
.flexiable-popup-div .inner, .flexible-main-div .inner2, .flexiable-popup-div .inner2, .flexiable-popup-div .inner3, .flexiable-popup-div2 .inner4{
	padding-left: 10px; padding-right: 10px;
	 overflow-y: auto; position: relative; background: #fff
}
.popup-main-container h1{
	line-height: 45px; background: url(../images/dot.png) repeat-x left bottom; display: block; padding-left: 20px; position: fixed; width: 100%; top: 50px;
}
.popup-main-container .close-btn{
	width: 28px; height: 28px; position: absolute; right: 8px; top: 8px; cursor: pointer;
	background-position: -161px -80px
}
.popup-main-container .buttn-set{
	height: 80px; position: fixed; bottom: 0px; left: 0px; width: 100%; background: url(../images/dot.png) repeat-x left top;
}
.popup-main-container .buttn-set .buttn-container{
	float: left; padding-top: 10px; padding-right: 20px; padding-left: 20px; 
}
.popup-main-container .orange-btn{
	 padding-right: 5px; text-align: left; padding-left: 0px; padding-top: 0px;
}
.popup-main-container .orange-btn i{
	display: inline-block; width: 26px; height: 25px;  padding: 0px; margin: 0px; vertical-align: text-top;
}
.popup-main-container .orange-btn .icons.save{
	background-position: -113px -45px;
}
.popup-main-container .orange-btn .icons.new{
	background-position: -12px -45px;
}
.popup-main-container .orange-btn .icons.close{
	background-position: -35px -45px;
}
.popup-main-container .orange-btn .icons.cancel{
	background-position: -86px -45px;
}
.popup-main-container .orange-btn .icons.precess{
	background-position: -63px -45px;
}
.popup-main-container .orange-btn .icons.clear{
	background-position: -169px -45px;
}
.popup-main-container .orange-btn .icons.copy{
	background-position: -137px -45px;
}
.popup-main-container .orange-btn .icons.paste{
	background-position: -256px -45px;
}
.popup-main-container .orange-btn .icons.more{
	background-position: -230px -45px;
}
.blue-label{
	padding-bottom: 5px; margin-bottom:5px;
}
.blue-label .blue-text{
	color: #208fb0; font-size: 14px; display: inline-block; margin-right: 10px;
}
.blue-label .grey-text{
	display: inline-block; color: #3d3d3d;
}

/*
			<a class="orange-btn "><i class="icons save"></i>Save</a>
			<a class="orange-btn "><i class="icons new"></i>New</a>
			<a class="orange-btn "><i class="icons cancel"></i>Cancel</a>
			<a class="orange-btn "><i class="icons close"></i>Close</a>
			<a class="orange-btn "><i class="icons precess"></i>Process</a>
			<a class="orange-btn "><i class="icons clear"></i>Clear</a>
			<a class="orange-btn "><i class="icons copy"></i>Copy</a>
			<a class="orange-btn "><i class="icons paste"></i>Paste</a>
			<a class="orange-btn "><i class="icons more"></i>More</a>
*/

.assign-properties{
	padding-bottom: 10px; padding-left: 20px; padding-right: 20px;
}

.assign-properties label{
	color: #208fb0; font-size: 14px; display: inline-block; margin-right: 20px;
}
.assign-properties input[type=text]{
	margin-right: 30px; width: 100px; background: none repeat scroll 0% 0% rgb(253, 250, 250);
border: 1px solid rgb(208, 207, 207);

padding: 3px 1%;
outline: medium none;
height: 25px;  display: inline-block;
}
.assign-properties input[type=text].cname{
	width: 300px;
}
.checkbox-span{
	display: inline-block; margin-right: 10px;
}
@media only screen and (max-width: 979px) {
	.assign-properties input[type=text].cname{
	width: 250px; font-size: 12px;
}
.assign-properties input[type=text]{
	width: 70px;
}
	}
.health-hazard{
	margin-bottom: 10px; width: 134px; text-align: center; margin-top: 10px; color: #3d3d3d;  margin-right: 0px;
}
.nfpa-box{
	width: 491px; height: 266px; background: url(../images/NFPA.png) no-repeat left top; 
	margin: 0 auto;  position: relative;
}
.nfpa-box .fire-hazard{
	position: absolute; left: 220px; top:54px; width: 50px;
}
.nfpa-box .fire-hazard-span{
	position: absolute; left: 15px; top: 30px; width: 158px;
}

.nfpa-box .reactivity{
	position: absolute; right: 155px; top:119px; width: 50px;
}
.nfpa-box .reactivity-span{
	position: absolute; right: 15px; bottom: 155px; width: 158px; text-align: right;
}
.nfpa-box .health-hazard{
	position: absolute; left: 155px; bottom:110px; width: 50px;
}
.nfpa-box .health-hazard-span{
	position: absolute; left: 15px; bottom: 92px; width: 158px;
}
.nfpa-box .specific-hazard{
	position: absolute; right: 15px; bottom:18px; width: 140px;
}
.nfpa-box .specific-hazard-span{
	position: absolute; right: 211px; bottom: 60px; width: 70px; text-align: center; font-size: 18px;
}
.HMIS-box{
	margin-top: 10px;
}
.HMIS-box table{
	width: 100%;
}
.HMIS-box table td{
	vertical-align: top
}
.HMIS-box .color-table{
	border: 4px solid #d9d7d7; margin-bottom: 35px;
}
.HMIS-box .color-table .selectspan{
	float: right; width: 50px; margin-top: 5px; margin-right: 5px;
}
.HMIS-box .color-table span{
	color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
line-height: 35px; display: block; float: left;
margin-left: 10px;
}
.HMIS-box .color-table input[type=checkbox]{
	float: right; margin-top: 12px; margin-right: 20px;
}
.HMIS-box .color-table .blue{
	width: 100%; height: 35px; background: #0600eb;
	
}
.HMIS-box .color-table .red{
	width: 100%; height: 35px; background: #f30001;
	
}
.HMIS-box .color-table .yellow{
	width: 100%; height: 35px; background: #f1cc00;
	
}
.HMIS-box .color-table .white{
	width: 100%; height: 35px; background: #fff;
	
}
.HMIS-box .color-table .white span{
	color: rgb(0, 126, 198)
}
.HMIS-box .color-table .heading{
	line-height: 30px; padding-left: 10px; font-size: 18px;
}
.HMIS-box .color-table .degree-label{
	color: #383838; padding-left: 10px; font-size:16px; margin: 0px; line-height: 20px; height: 20px; margin-bottom: 5px;
}
.HMIS-box .color-table .degree-label label{
	color: #208fb0; font-size: 16px;  display: inline; float: none; margin: 0px;
}

.risk-safety select{
	width: 100%; height: 100px; border: 1px solid #d0cecf; color: #505050; padding: 3px;  
}

.risk-safety .heading{
	font-size: 16px; font-weight: bold; color: #666; margin-bottom: 10px; line-height: 35px; height: 35px;
}
.risk-safety .buttn-container{
	float: right;
}
.table-div table.field-holder .tare-calculation-table{
	width: 100%;
}
.table-div table.field-holder .tare-calculation-table td.wide{
	width: 34%
}
.table-div table.field-holder .tare-calculation-table td.wide .input_parent{
	width: 90%
}

.prev{
	display: inline-block; height: 28px; width: 40px; background-position: -340px -40px; border: 1px solid #ca7800; cursor: pointer;
}
.next{
	display: inline-block; height: 28px; width: 40px; background-position: -310px -40px; border: 1px solid #ca7800; cursor: pointer;
}
.prev-all{
	display: inline-block; height: 28px; width: 40px; background-position: -489px -40px; border: 1px solid #ca7800; cursor: pointer;
}
.next-all{
	display: inline-block; height: 28px; width: 40px; background-position: -519px -40px; border: 1px solid #ca7800; cursor: pointer;
}
#add-user-pop select, #edit-user-pop select{
	
}
.setup-pop-table{
	width: 100%
}
.setup-pop-table td{
	vertical-align: top; padding-left: 10px; padding-right: 10px;
}
.setup-pop-table .setup-search-panel .search-box{
	margin-top: 10px; position: relative;
}
.setup-pop-table .setup-search-panel input[type="text"]{
	width:100%; background: #fdfafa;
border: 1px solid #d0cfcf;

padding: 1%;
outline: none;
height: 25px;
padding-top: 3px;
padding-bottom: 3px;
}
.setup-pop-table .setup-search-panel .search-btn{
	background-color: #e4911d; height: 25px; width: 30px;
	background-position: -375px -42px; position: absolute; right: 0px; top: 0px;
	border: none; cursor: pointer;
}
.setup-pop-table .setup-search-panel input[type="text"]:focus{
	border-color: #49cced; 
	-webkit-box-shadow: 4px 2px 7px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    4px 2px 7px rgba(50, 50, 50, 0.4);
box-shadow:         4px 2px 7px rgba(50, 50, 50, 0.4);
-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.setup-pop-table .table-div table.field-holder .width-td{
	width: 70%
}
@media only screen and (max-width: 979px) {
	.setup-pop-table .table-div table.field-holder .width-td{
	width: 100%
}
	}
	
.delete-gen-btn.disable{
	opacity: .8; filter: alpha(opacity=80;)
}
/********** pop up window end****/



/******* cs search bar css start****/
/*....... search bar start.......*/
.search_bar_main{ width:100%; float: left; position:relative; margin-top:89px;}
.search_bar_border{ border-bottom:1px solid #3d76f7; padding-bottom:2px;}
.search_bar_border2{ border-bottom:1px solid #eb700d; padding-bottom:2px;}
.title{ font-size:16px; color:#343434; text-align:center; padding-bottom:5px; padding-top:3px; font-weight:bold; line-height:23px;}
.search_btn_orange{ background:#eb700d url(../images/search_icon.png) no-repeat 12px 6px; display:block; height:28px; border:none; text-indent:-1000000px; cursor:pointer; width: 40px;}
.table{ border:none; width:100%; display:table;  border-spacing:0px;}
.tr{ display:table-row;}
.td{ display: table-cell; vertical-align:top; }
.tb_border{ border-top:1px solid #d0cfcf; border-bottom:1px solid #d0cfcf; padding:0px;  padding-left:5px; padding-right:5px;}
.tb_border input{
	border: none; padding: 0px; outline: none; height: 26px;
}
.search_language{
	width:120px; padding-left:2px; padding-right:2px; background:#FCE6C2; height:28px; border-top:1px solid #d0cfcf; border-bottom:1px solid #d0cfcf; position: relative; z-index:9;
}
.search_language div.selected_lang{
	width:100%; height:28; border:none;   font-size:13px; line-height:26px;  border:none; cursor: pointer;  color:#000000;  position: relative; font-weight:bold;
}
.search_language div.selected_lang img{
	 position: absolute; right:3px; top:6px;
	 position: absolute; right:3px; top:6px;
}
.search_language .languagelist{
	 position: absolute; width:100%; top:24px; left:0px; overflow-x: hidden; overflow-y: auto; max-height:200px; 
}

.search_language .languagelist ul{
	padding:0px; margin:0px; list-style-type: none; display: block; overflow-y: auto; max-height:200px; 
}
.search_language .languagelist ul li{
	display: block; cursor: pointer; color:#4F81D1; font-size:12px; background:#FCE6C2; font-size:12px; padding-left:3px; border-bottom:1px solid #cccccc;  position: relative; height:auto;
}
.search_language .languagelist ul li:hover{
	color:#000000;
}
.search_language .languagelist ul li img {
position: absolute;
right: 3px;
}




.flexible-main-div{
	position: fixed; width: 100%; top: 65px;  height: auto;
}
.flexible-main-div .orange-btn{
	padding-left: 15px; padding-right: 15px;
}



/******** alert box*******/
.alert-overlay{
	width:100%; height: 100%; position: fixed;  z-index: 9999998;  background:#fff; opacity:.1; filter:alpha(opacity=10);
}

.alert-overlay2{
	width:100%; height: 100%; position: fixed;  z-index: 9998;  background:#000; opacity:.6; filter:alpha(opacity=60);
}

.alert-overlay3{
	width:100%; height: 100%; position: fixed;  z-index: 99998;  background:#000; opacity:.6; filter:alpha(opacity=60);
}


.alert-box{
	width: 300px; border: 2px solid #e4911d; background: #fff; left: 50%; margin-left: -150px; position: absolute;  z-index: 9999999; 
	-webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.5);
box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.5);
}
.alert-box .alert-content{
	padding:10px; text-align:center;
}
.alert-box .alert-btn-parent{
	background: rgb(241, 240, 240); padding: 5px; text-align: center; border-top:1px solid #d8d2cc;
}
.alert-box .alert-btn{
	background: #49cced; padding-left: 10px; padding-right: 10px; font-weight: bold; font-size: 16px; line-height: 28px; background: #49cced; display: inline-block; cursor: pointer; color: #fff; 
	border:1px solid #419db8; background: #49afcd; 
	border-bottom: 1px solid #368399;
}



/***tree sectiuon*****************************/
.tree_conatiner{
	border: 1px solid #d0cfcf; background: #fff; -webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.2);
box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.2); width: 270px; height: 380px; z-index: 999999; position: absolute;
left: 50%; margin-left: -135px; top:50%; margin-top: -190px;
}
.tree_conatiner .close_btn{
	position: absolute; right: 3px; top: 3px; width: 19px; height: 19px; background: #808080; cursor: pointer; color: #fff; line-height: 19px; text-align: center; font-weight: background: 
}

.tree_conatiner .close_btn2{
	position: absolute; right: 3px; top: 3px; width: 19px; height: 19px; background: #808080; cursor: pointer; color: #fff; line-height: 19px; text-align: center; font-weight: background: 
}

.tree_conatiner .heading{
	font-size:14px; color: #454545; border-bottom: 1px dotted #ccc; line-height: 25px; margin-bottom: 5px; padding-left: 10px;
}
.tree_conatiner .tree-content{
	height:347px; overflow-y:auto; padding: 10px; padding-top: 0px;
}

 #add-user-pop select.multiple{ height:128px;}
 
 .ui-autocomplete
 {
     max-height:200px; overflow-y:auto;
     background:#fff;
     border:1px solid #ccc;
  }
 .loading{ position:fixed; width:100%; height:100%; left:0px; top:0px; z-index:999999;}
 .loading img{position:absolute; left:50%; top:50%;}

.FieldGreen td div table tr td label{
color:green!important; 

}
.FieldRed td div table tr td label{
color:red!important; 

}

.FieldRed td div table tr td label,.FieldRed label{
color:red !important; 

}


.grey-border.user-heading{
	border: none; background:#f5c405; color:black 
}

.Vis {

    display:block!important; 
    position:fixed;
    
}

.ifrm {
    
    width:700px;
    height:400px;

}

.Courier {

        width:380px;
}

.willship {

width: 92px;
height: 30px;
background: #f12525;
border: 1px solid #df0909;
border-radius: 3px;
font-size: 13px;
text-transform: uppercase;
font-family: arial, helvetica, sans-serif;
padding: 5px 5px 5px 5px;
text-decoration: none;
display: inline-block;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
font-weight: bold;
color: #FFFFFF;
background-color: #f62b2b;
cursor: pointer;
}


.shipped {

width: 92px;
height: 30px;
background: #69810c;
border: 1px solid #69810c;
border-radius: 3px;
font-size: 13px;
text-transform: uppercase;
font-family: arial, helvetica, sans-serif;
padding: 5px 5px 5px 5px;
text-decoration: none;
display: inline-block;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
font-weight: bold;
color: #FFFFFF;
background-color: #69810c;
cursor: pointer;
}


.canceledorder {

width: 92px;
height: 30px;
background: #367fc2;
border: 1px solid #367fc2;
border-radius: 3px;
font-size: 13px;
text-transform: uppercase;
font-family: arial, helvetica, sans-serif;
padding: 5px 5px 5px 5px;
text-decoration: none;
display: inline-block;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
font-weight: bold;
color: #FFFFFF;
background-color: #367fc2;
cursor: pointer;
}